
# General
*~
*.swp
*.swo
*Session.vim

# VS Code
/.vscode/**/*
!/.vscode/settings.json
!/.vscode/cSpell.json
!/.vscode/c_cpp_properties.json

# Visual Studio
/.vs/
/Debug/
/x64/
*.sln
*.vcxproj*

# Compilation
/build/
*.exe
.profile/
gmon.out

