---
# SPDX-FileCopyrightText: 2020 David Fong
# SPDX-License-Identifier: CC0-1.0
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: "
  bugprone-*,
  concurrency-*,
  portability-*,
  readability-*,
    -readability-identifier-length,
  performance-*,
    -performance-avoid-endl,
  modernize-*,
    -modernize-use-trailing-return-type,

  cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-do-while,
  clang-analyzer-*,
  cert-*,
  hicpp-avoid-goto,
  hicpp-exception-baseclass,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  hicpp-signed-bitwise
  boost-use-to-string,
  google-explicit-constructor,
  google-global-names-in-headers,
  darwin-*,
  misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-include-cleaner
  "
# hicpp is mostly aliases to other rules. I just added specifically all
# that are not aliases to rules I already include. On a similar note,
# some of the excluded rules are just alias exclusions so I don't have
# to write inline ignore-comments for both a rule and its alias.
# turned off include-cleaner since we have include-what-you-use.

CheckOptions:
  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  readability-magic-numbers.IgnoredFloatingPointValues: "0.5,1.0;10.0;100.0"
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-uppercase-literal-suffix.NewSuffixes: "L;LL;uL;uLL;z;uz"

HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: ".*(/cpp/external/).*"